---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "custom";

//
// Responsive Headings
//
@include media-breakpoint-down(sm) {
  h1, .h1 { font-size: $h2-font-size; }
  h2, .h2 { font-size: $h3-font-size; }
  h3, .h3 { font-size: $h4-font-size; }
  h4, .h4 { font-size: $h5-font-size; }
  h5, .h5 { font-size: $h6-font-size; }
}

@include media-breakpoint-down(xs) {
  h1, .h1 { font-size: $h3-font-size; }
  h2, .h2 { font-size: $h4-font-size; }
  h3, .h3 { font-size: $h5-font-size; }
  h4, .h4 { font-size: $h6-font-size; }
  h5, .h5 { font-size: $h6-font-size; }
}

//
// Hover Mixin
//
@mixin hover-focus-active-active {
  @if $enable-hover-media-query {
    &:focus,
    &:active,
    &.active {
      @content;
    }
    @include hover { @content; }
  } @else {
    &:focus,
    &:active,
    &.active,
    &:hover {
      @content;
    }
  }
}

//
// Icons
// from https://github.com/simple-icons/simple-icons/tree/develop/icons
// with https://brandcolors.net/
//
.icon > svg {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;

  path {
    fill: gray("600");
  }
}

//
// Header & Footer
//
.navbar {
  .icon > svg {
    height: 1.25rem;
    vertical-align: text-bottom;
    width: 1.25rem;

    path {
      fill: $navbar-light-color;
    }
  }

  .icon-tobiha {
    color: $navbar-light-color;

    @include hover-focus-active-active {
      color: theme-color("secondary");

      > svg path {
        fill: theme-color("secondary");
      }
    }
  }
}

header {
  border-bottom: 1px solid gray("200");
  margin-bottom: $spacer;
  margin-top: $spacer * 3;
}

footer {
  margin-bottom: $spacer * 3;
  margin-top: $spacer;

  .icon {
    margin: $spacer * 2 $spacer;

    @include media-breakpoint-down(xs) {
      margin: $spacer * 2 $spacer * .5;
    }
  }

  .icon-twitter {
    @include hover-focus-active {
      > svg path {
        fill: #1da1f2;
      }
    }
  }

  .icon-github {
    @include hover-focus-active {
      > svg path {
        fill: #333333;
      }
    }
  }

  .icon-facebook {
    @include hover-focus-active {
      > svg path {
        fill: #3b5998;
      }
    }
  }

  .icon-youtube {
    @include hover-focus-active {
      > svg path {
        fill: #ff0000;
      }
    }
  }

  .icon-keybase {
    @include hover-focus-active {
      > svg path {
        fill: #33a0ff;
      }
    }
  }

  .icon-rss {
    @include hover-focus-active {
      > svg path {
        fill: #f26522;
      }
    }
  }
}

//
// Description List
//
dt {
  margin-bottom: $spacer * .5;
}

dd {
  margin-bottom: $spacer;

  &:last-child,
  p:last-child {
    margin-bottom: 0;
  }
}

//
// Animations
// from https://github.com/IanLunn/Hover/blob/master/css/hover.css
//
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
