---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "custom";

//
// Header & Footer
//
.navbar .icon > svg {
  height: 1.25rem;
  vertical-align: text-bottom;
  width: 1.25rem;

  path {
    fill: $navbar-light-color;
  }
}

.navbar .navbar-brand {
  color: $navbar-light-color;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: theme-color("secondary");
  }
}

.navbar .nav-item.active {
  @include media-breakpoint-down(xs) {
    border-left: $border-width * 4 solid $secondary;
    margin-left: -$navbar-padding-x;
    padding-left: calc(#{$navbar-padding-x} - #{$border-width} * 4);
  }
  @include media-breakpoint-up(sm) {
    border-bottom: $border-width * 4 solid $secondary;
    margin-bottom: -$navbar-padding-y;
  }
}

footer .icon {
  margin: $grid-gutter-width / 2;

  @include media-breakpoint-down(xs) {
    margin: $grid-gutter-width / 4;
  }
}

//
// Responsive Headings
//
@include media-breakpoint-down(sm) {
  h1, .h1 { font-size: $h2-font-size; }
  h2, .h2 { font-size: $h3-font-size; }
  h3, .h3 { font-size: $h4-font-size; }
  h4, .h4 { font-size: $h5-font-size; }
  h5, .h5 { font-size: $h6-font-size; }
}

@include media-breakpoint-down(xs) {
  h1, .h1 { font-size: $h3-font-size; }
  h2, .h2 { font-size: $h4-font-size; }
  h3, .h3 { font-size: $h5-font-size; }
  h4, .h4 { font-size: $h6-font-size; }
  h5, .h5 { font-size: $h6-font-size; }
}

//
// Icons
// from https://github.com/simple-icons/simple-icons/tree/develop/icons
// with https://brandcolors.net/
//
.icon > svg {
  display: inline-block;
  height: 2rem;
  vertical-align: middle;
  width: 2rem;

  path {
    fill: gray("600");
  }
}

.icon-tobiha {
  &:hover,
  &:focus,
  &:active,
  &.active {
    > svg path {
      fill: theme-color("secondary");
    }
  }
}

.icon-twitter {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #1da1f2;
    }
  }
}

.icon-github {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #333333;
    }
  }
}

.icon-facebook {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #3b5998;
    }
  }
}

.icon-youtube {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #ff0000;
    }
  }
}

.icon-keybase {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #33a0ff;
    }
  }
}

.icon-rss {
  &:hover,
  &:focus,
  &:active {
    > svg path {
      fill: #f26522;
    }
  }
}

//
// Animations
// from https://github.com/IanLunn/Hover/blob/master/css/hover.css
//
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

//
// Font Awesome
//
.fa-ul {
  margin-left: 2em;
}
