---
layout: page
title: Projects
permalink: /projects/
stylesheets: ['/css/projects.css']

featured_project:
  title: Cryptomator
  img: /assets/projects/cryptomator.png
  img2x: /assets/projects/cryptomator@2x.png
  text: >-
    Cryptomator provides transparent, client-side encryption for your cloud. Protect your documents from unauthorized access. Cryptomator is free and open source software, so you can rest assured there are no backdoors.
  links:
  - url: https://cryptomator.org/
    text: cryptomator.org
    icon: fas fa-home
  tags: [java, swift, objective-c, open source, crypto, fuse, dokany, webdav, cloud storage, desktop, ios, android, utility]
projects:
- title: The Shit Is Hot
  img: /assets/projects/shitishot.png
  img2x: /assets/projects/shitishot@2x.png
  text: >-
    You have to guess how many hits the shown terms generate in a search engine and place them in the correct order. This project is inspired by the segment <a href="https://www.youtube.com/watch?v=upm6SfYuGX4" target="_blank" rel="noopener">Der Scheiß ist heiß</a> on <a href="https://www.zdf.de/comedy/neo-magazin-mit-jan-boehmermann/" target="_blank" rel="noopener">NEO MAGAZIN ROYALE</a>.
  links:
  - url: https://shitishot.de/
    text: Play on shitishot.de
    icon: fas fa-play-circle
  - url: https://github.com/tobihagemann/shitishot
    text: Source Code on GitHub
    icon: fab fa-github
  tags: [typescript, angular, bootstrap, browser, game]
- title: Spectrum Run
  img: /assets/projects/spectrum-run.png
  img2x: /assets/projects/spectrum-run@2x.png
  text: >-
    Jump, dive, and slide through gates with the right color in a challenging hunt for the highscore in Spectrum Run. Master your reaction time while Doc White is gaining speed. Earn achievements and challenge your friends on Game Center.
  links:
  - url: https://tobiha.bandcamp.com/album/spectrum-run
    text: Listen to Soundtrack on Bandcamp
    icon: fab fa-bandcamp
  tags: [objective-c, cocos2d, box2d, objectal, ios, game]
- title: Evolution XPert
  img: /assets/projects/evolution-xpert.png
  img2x: /assets/projects/evolution-xpert@2x.png
  text: >-
    Evolution XPert is an assistant app for Pokémon GO which helps players optimize their evolution XP gain. The app deduces the right amount of Pokémon of a particular kind to transfer in order to maximize the amount of possible evolutions.
  links:
  - url: https://apps.apple.com/app/id1135176839
    text: Download on the App Store
    icon: fab fa-app-store-ios
  tags: [objective-c, pokemon go, ios, utility]
- title: tooPassword
  img: /assets/projects/toopassword.png
  img2x: /assets/projects/toopassword@2x.png
  text: >-
    tooPassword for iOS offers read-only access to AgileBits' 1Password keychains. The project has been discontinued and is now fully open source.
  links:
  - url: https://github.com/setoLabs/tooPassword
    text: Source Code on GitHub
    icon: fab fa-github
  tags: [objective-c, open source, crypto, 1password, ios, utility]
- title: THLabel
  img: /assets/projects/thlabel.png
  img2x: /assets/projects/thlabel@2x.png
  text: >-
    THLabel is a subclass of UILabel, which additionally allows shadow blur, inner shadow, stroke text and fill gradient.
  links:
  - url: https://github.com/tobihagemann/THLabel
    text: Source Code on GitHub
    icon: fab fa-github
  tags: [objective-c, open source, uilabel, ios, library]
- title: sissy
  img: /assets/projects/sissy.png
  img2x: /assets/projects/sissy@2x.png
  text: >-
    Get notified when your grades for Hochschule Bonn-Rhein-Sieg (H-BRS) have updated. sissy is available for iOS and macOS, both run 100% locally.
  links:
  - url: https://github.com/tobihagemann/sissy
    text: Source Code on GitHub
    icon: fab fa-github
  tags: [objective-c, open source, h-brs, macos, ios, utility]
- title: bonntermin
  text: >-
    Automatically scrape Stadt Bonn's Dienstleistungszentrum appointment service for the earliest month that you can book. If the bookable month is the one you desire, you'll get notified by email.
  links:
  - url: https://github.com/tobihagemann/bonntermin
    text: Source Code on GitHub
    icon: fab fa-github
  tags: [python, open source, scrapy, bonn, script, utility]
---
{% assign project = page.featured_project %}
<div class="card card-featured shadow-sm">
  <div class="card-body">
    <div class="d-flex flex-row">
{% if project.img %}
      <img class="project-img" src="{{ project.img | prepend: site.baseurl }}" srcset="{{ project.img2x | prepend: site.baseurl }} 2x" alt="{{ project.title }} Icon"\>
{% endif %}
      <div>
        <h2 class="card-title h3 mb-2">{{ project.title }}</h2>
        <p class="card-text">{{ project.text }}</p>
        <ul class="fa-ul">
{% for link in project.links %}
          <li><a href="{{ link.url }}" class="btn btn-link"><span class="fa-li"><i class="{{ link.icon }}"></i></span>{{ link.text }}</a></li>
{% endfor %}
        </ul>
        <div>
{% for tag in project.tags %}
          <span class="badge badge-pill badge-light">{{ tag }}</span>
{% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-columns">
{% for project in page.projects %}
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="d-flex flex-row">
  {% if project.img %}
        <img class="project-img" src="{{ project.img | prepend: site.baseurl }}" srcset="{{ project.img2x | prepend: site.baseurl }} 2x" alt="{{ project.title }} Icon"\>
  {% else %}
        <img class="project-img" src="{{ "/assets/projects/generic.png" | prepend: site.baseurl }}" srcset="{{ "/assets/projects/generic@2x.png" | prepend: site.baseurl }} 2x" alt="Placeholder Icon for {{ project.title }}"\>
  {% endif %}
        <div>
          <h2 class="card-title h3 mb-2">{{ project.title }}</h2>
          <p class="card-text">{{ project.text }}</p>
          <ul class="fa-ul">
  {% for link in project.links %}
            <li><a href="{{ link.url }}" class="btn btn-link"><span class="fa-li"><i class="{{ link.icon }}"></i></span>{{ link.text }}</a></li>
  {% endfor %}
          </ul>
          <div>
  {% for tag in project.tags %}
            <span class="badge badge-pill badge-light">{{ tag }}</span>
  {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
