<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">{{ i18n.navbar.toggle }} </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand icon icon-tobiha" href="{{ site.baseurl }}/">{% include icon-tobiha.svg %} tobiha.de</a>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav navbar-right">
      {% for item in site.data.menu %}
        <li><a href="{{ item.url }}">{{ item.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
