<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% if page.title %}{{ page.title | append: ' • ' | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.name }}">

  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}"/>
{% if page.path contains '_posts' %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"/>
  <meta property="og:type" content="article"/>
  <meta property="article:author" content="{{ site.name }}"/>
  <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}"/>
{% else %}
  <meta property="og:description" content="{{ site.description }}"/>
{% endif %}
  <meta property="og:image" content="{{ "/assets/featured-image.jpg" | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:image:width" content="1200"/>
  <meta property="og:image:height" content="630"/>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
{% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.baseurl }}">
{% endfor %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
