/**
 * Basic
 */
.post {
  margin-bottom: $spacing-unit / 2;
}

.thumbnail-left {
  float: left !important;
  margin-right: $spacing-unit / 2;
  max-width: 40%;
}

.thumbnail-right {
  float: right !important;
  margin-left: $spacing-unit / 2;
  max-width: 40%;
}



/**
 * Icons
 * from https://github.com/danleech/simple-icons/tree/gh-pages/icons
 * with http://brandcolors.net/
 */
.navbar-brand.icon > svg {
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

footer .icon {
  margin: $spacing-unit $spacing-unit / 2;
  text-decoration: none;
  @media (max-width: 356px) {
    margin: $spacing-unit $spacing-unit / 3;
  }
}

.icon-tobiha {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #34495e;
    }
  }
}

.icon-twitter {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #1da1f2;
    }
  }
}

.icon-facebook {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #3b5998;
    }
  }
}

.icon-github {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #333333;
    }
  }
}

.icon-keybase {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #ff6f21;
    }
  }
}

.icon-rss {
  &:hover, &:focus, &:active {
    > svg path {
      fill: #f26522;
    }
  }
}



/**
 * Animations
 * from https://github.com/IanLunn/Hover/blob/master/css/hover.css
 */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
