---
import { menu } from '../data/menu';
import IconTobiha from './icons/IconTobiha.astro';

interface Props {
  activelink?: string;
}

const { activelink } = Astro.props;
const pathname = Astro.url.pathname;
const isBrandActive = pathname === '/';
const isActive = (url: string) => pathname.includes(url) || (activelink ?? '').includes(url);
---
<nav class="bg-light">
  <div class="container d-flex flex-column align-items-center py-2">
    <a class:list={['nav-link', 'nav-brand', 'nav-icon', 'icon-tobiha', { active: isBrandActive }]} href="/"><IconTobiha /> tobiha.de</a>
    <div class="d-flex">
{ menu.map((item) => (
      <a class:list={['nav-link', { active: isActive(item.url) }]} href={item.url}>
        <span class="nav-text">{item.text}</span>{isActive(item.url) && <> <span class="visually-hidden">(current)</span></>}
      </a>
)) }
    </div>
  </div>
</nav>
